.Header {
  background-color: #000;
}

.Header-bar {
  width: 100%;
  background-color: #000;
  margin: 0;
}

.Header-bar .col-2 {
  padding-left: 0;
}

.Header-bar .col-10 {
  padding-right: 0;
}

.container {
  padding: 0;
}

.navbar-brand, .nav-link-a {
  color: #FFF !important;
}

.nav-link-a{
  font-weight: 500;
}

.navbar-brand {
  font-size: 24px;
}

.header-nav--none {
  font-size: 14px;
  border-radius: 30px;
  padding: 0 10px;
}

.header-dropdown {
  top: 48px;
  left: -5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  border: none;
}

.header-dropdown .nav-link {
  color: rgb(117, 117, 117) !important;
  font-size: 14px;
  font-weight: 500;
}

.header-dropdown .nav-link:hover {
  background-color: rgb(246, 246, 246);
  color: #000 !important;
}

.navbar--height {
  height: 100%;
  justify-content: flex-end;
}

.btn {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: none;
  outline: none;
}

.btn:focus{
  box-shadow: none;
}

.btn-login {
  padding: 7px 20px;
  background: transparent;
  border: none;
}


.btn-signup {
  color: #000;
  padding: 6px 14px;
  margin-left: 10px;
  background: #FFF;
}

.btn-login:hover, .header-nav--none:hover {
  background-color: #333;
}

.btn-login:hover {
  color: #FFF;
}

.btn-signup:hover {
  color: #000;
  background-color: #E2E2E2;
}

.button-toggle {
  margin-left: 10px;
  margin-right: 12px;
  display: none;
}

.ShowForm {
  width: 100%;
  height: 90vh;
  background: #FFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 1;
}

.ShowForm-show {
  visibility: visible;
  opacity: 1;
}

.ShowForm-text {
  font-size: 36px;
  font-weight: 500;
  width: 350px;
  padding-bottom: 50px;
  color: rgb(84, 84, 84);
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in;
}

.ShowForm-text:hover {
  color: #000;
}

.close {
  position: relative;
  top: -200px;
  right: 100px;
  cursor: pointer;
}

.HeaderToggle {
  width: 100%;
  background-color: #FFF;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  position: absolute;
  z-index: 1000;
}

.HeaderToggle-show {
  visibility: visible;
  opacity: 1;
}

.HeaderToggle-title {
  font-size: 32px;
  padding-left: 30px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.HeaderToggle-link {
  font-size: 14px;
  color:rgb(117, 117, 117);
  margin: 20px 0;
  padding-left: 60px;
}

.HeaderToggle-link:hover {
  color: #000;
}

.HeaderToggle-collapse {
  display: grid;
}

.HeaderToggle-close {
  font-size: 18px;
  justify-self: center;
  margin-bottom: 10px;
}


.fa-sort-down {
  margin-right: 10px;
}

.header-flex {
  width: 100%;
  padding: 64px 10px;
  margin: 0;
  background-color: #000;
  justify-content: space-between;
}

.header-flex .col-lg-6 {
  padding-right: 0;
  padding-left: 0;
}

.header-flex .col-lg-6:last-child {
  color: #FFF;
  padding-right: 80px;
}

.col-lg-6 h1 {
  font-size: 52px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 14px;
}

.col-lg-6 p {
  font-size: 16 px;
  font-weight: 500;
  margin-bottom: 40px;
}

.btn-more {
  color: #000;
  font-weight: 500;
  padding: 14px 25px;
  background-color: #EEEEEE;
  text-decoration: none;
}

.btn-more:active {
  background-color: #CBCBCB;
}

.btn-more:hover {
  color: #000;
  background-color: #E2E2E2;
  text-decoration: none;
}

.header-image {
  width: 100% ;
}

.SlideSection {
  padding: 100px 0;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}

.SlideSection-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.image-show {
  opacity: 1 !important;
}

.SlideSection-bar {
  background-color: #FFF;
  position: relative;
}

.mark {
  width: 0;
  padding: 0;
  height: 4px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s ease;
}

.SlideSection-bar .w-100 {
  justify-content: space-evenly
}

.SlideSection-element {
  padding: 0;
  cursor: pointer;
  width: 100px;
}

.SlideSection-element img {
  width: 100%;
  padding: 25px 35.5px 15px;
}

.SlideSection-element p {
  font-weight: 500;
  margin: 0;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

.SlideSection-content {
  width: 550px;
  height: 400px;
  padding: 48px;
  border-top: 1px solid #DDD;
  background: #FFF;
  display: none;
}

.SlideSection-content h1 {
  font-size: 52px;
  font-weight: 500;
}

.SlideSection-content p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 36px;  
}

.btn-background, .btn-background:hover  {
  color: #FFF;
  background: #000;
}

.btn-background {
  margin-top: 20px;
  position: relative;
}

.btn-background::after {
  content: ' ';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}

.btn-background:hover::after {
  opacity: 1;
}

.border-style {
  border-bottom: 2px solid #000 ;
}

.SlideSection-show {
  display: block;
}

.PostSection {
  overflow: hidden;
  height: 750px;
  padding-top: 50px;
  position: relative;
}

.PostSection img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.PostSection-content h1 {
  font-size: 36px;
  font-weight: 500;
}

.PostSection-content a {
  color: #000;
  text-decoration: underline;
  transition: 0.2s linear;
}

.PostSection-content a:hover{
  color: #333;
}

.CardSection {
  padding: 50px 0;
}

.CardSection-title {
  font-size: 36px;
  font-size: 500;
}

.CardSection-text {
  font-size: 16px;
}

.Item {
  border: none;
}

.Item img {
  height: 250px;
}

.link-b {
  width: 81px;
  padding: 0;
  padding-bottom: 10px;
  color: #000;
  border-bottom: 1px solid #AAA;
  position: relative;
}

.link-b:hover {
  color: #000;
}


.link-b::after {
  content: '';
  width: 0;
  border-bottom: 1px solid #000;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: 0.2s ease;
}

.Item .card-title {
  font-size: 18px;
  font-weight: 500;
}

.Item .card-text {
  height: 70px;
}

.link-b:hover::after {
  width: 100%;
}

.CommitmentSection {
  margin: 100px 0;
}


.CommitmentSection-flex {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.CommitmentSection-flex .col-lg-7 {
  text-align: end;
}

.CommitmentSection-flex h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.CommitmentSection-flex p {
  color: #333;
}

.link-w:nth-child(1) {
  width: 320px;
  margin-bottom: 20px;
}

.link-w:nth-child(2) {
  width: 154px;
  margin-bottom: 20px;
}

.ContextSection {
  margin: 150px 0;
}

.ContextSection-icon, .ContextSection-title {
  margin-bottom: 20px;
}

.ContextSection-title {
  font-size: 18px;
}

.ContextSection .container .col-md-6:first-child {
  padding-left: 0;
}

.ContextSection .container .col-md-6:last-child {
  padding-right: 0;
}

.Footer {
  color: #FFF;
  background: #000;
  padding: 150px 100px 20px;
}

.Footer-name{
  font-size: 24px;
  font-weight: 400;
}


.Footer-link {
  color: #FFF;
  height: 26px;
  width: 120px;
  margin: 30px 0 80px;
  text-transform: capitalize;
}

.Footer-link:hover {
  border-bottom: 1px solid #FFF;
}

.Footer-link a {
  color: #FFF;
  padding: 0;
}

.ContentFooter-title {
  font-size: 20px;
}

.Data {
  margin-top: 15px;
}

.Data-link {
  color: #FFF;
  font-size: 14px;
  padding: 0;
  margin-bottom: 10px;
  transition: 0.3s all;
}

.Data-link:hover {
  color: #AFAFAF;
}

.Footer-icon {
  margin: 50px 0;
}

.Footer-icon .IconSection{
  margin-bottom: 50px ;
}

.icon-link {
  width: 40px;
  height: 40px;
  padding: 5px 12px 10px;
}

.icon-link:hover {
  background: #545454;
}

.icon-address {
  margin-right: 20px;
}

.copyright, .copyright-link {
  font-size: 12px;
  color: #AFAFAF;
}

.copyright-link {
  padding: 0 10px;
  transition: 0.2s ease;
}

.copyright-link:hover {
  color:#333333;

}

.Footer-footer {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .SlideSection-element img {
    padding: 25px 28px 15px;
  }

  .CommitmentSection-flex .col-lg-7 {
    margin-bottom: 100px;
  }

  .CommitmentSection-flex .col-lg-7 img {
    width: 100%;
    height: 100%;
  }

  .ContextSection .col-md-6 {
    margin-bottom: 20px;
  }

  .Footer {
    padding: 100px 50px 20px;
  }

  .ContentFooter .col-sm-6 {
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 576px) {
  .SlideSection-element img {
    padding: 25px 68px 15px !important;
  }

  .SlideSection  {
    padding: 0;
  }

  .icon-address {
    margin-right: 10px;
  }

  .Footer-icon .justify-content-end .icon-address {
    margin-bottom: 20px;
  }

  .FooterSection-margin {
    margin-bottom: 30px;
  }

  .IconSection {
    margin-bottom: 0 !important;
  }

  .Footer-footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .SlideSection-element img {
    padding: 25px 28px 15px;
  }
}

@media screen and (min-width: 768px) {
  .header-display--none {
    display: none;
  }
  .header-flex {
    flex-direction: row-reverse;
  }
  
  .card-padding:first-child {
    padding-left: 0;
  }

  .card-padding:last-child {
    padding-right: 0;
  }

}

@media screen and (max-width: 768px) {
  .Header-bar .pl-0 {
    padding-left: 10px !important;
  }
  .header-nav--none {
    display: none;
  }

  .navbar-brand {
    font-size: 32px;
    line-height: 24px;
  }

  .button-toggle {
    display: block;
  }

  .ShowForm {
    flex-direction: column;
  }

  .close {
    top: 0;
    right: 0;
  }

  .navbar--height {
    padding-right: 0;
  }

  .header-flex {
    padding: 14px;
    padding-bottom: 50px;
  }

  .header-flex .col-md-12:first-child{
    margin-top: 20px;
  }

  .header-flex .col-md-12:last-child{
    padding: 0;
  }

  .header-flex .col-md-12 h1{
    margin-top: 30px;
    font-size: 36px;
  }

  .header-flex .col-md-12 p{
    margin-top: 20px;
    font-weight: 400;
  }

  .SlideSection-content{
    width: 100%;
    height: auto;
  }

  .SlideSection-content h1{
    font-size: 32px;
  }

  .SlideSection-content p{
    font-size: 14px;
  }

  .PostSection{
    overflow: hidden;
    height: 480px;
  }

  .PostSection img{
    height: 100%;
    width: auto;
  }

  .PostSection-content {
    padding: 0 50px;
  }

  .PostSection-content h1 {
    font-size: 24px;
  }
  
  .PostSection-content a {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    transition: 0.2s linear;
  }

  .CardSection-title {
    font-size: 28px;
  }
  

  .CardSection-title, .CardSection-text, .card-padding {
    padding: 0 20px;
  }

  .SlideSection-element img {
    padding: 25px 18px 15px;
  }

  .CommitmentSection-flex {
    flex-direction: row;
  }

  .CommitmentSection-flex .col-md-12 {
    padding: 0 20px !important;
  }

  .ContextSection .col-md-6 {
    padding: 0 20px !important;
  }
  
  .Footer-icon .col-md-6 {
    margin-bottom: 30px;
  }

  .Footer-icon .justify-content-end {
    justify-content: flex-start !important;
  }
}
